<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStr" connectionString="server=127.0.0.1;database=XM_Spider;uid=sa;pwd=sa;"/>
		<!--<add name="ConnStr" connectionString="server=192.168.1.12;database=XM_Spider;uid=sa;pwd=sunny.841;"/>-->
	</connectionStrings>

	<appSettings>
		<add key="StartYear" value="2013"/>
		<add key="StartMonth" value="8"/>
		<add key="EndYear" value="2014"/>
		<add key="EndMonth" value="1"/>
		<add key="DelayTime" value="6000"/>
		<add key="SpiderType" value="CN"/>
		<add key="ISCheckContinue" value="false"/>
		<add key="MaxThreadNum" value="1"/>
		<add key="RunType" value="XM"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
